.table_row {
  border: 1px solid #eee;
}

.table_row:nth-child(odd) {
  background-color: #f2f2f2;
}

.table_row td {
  border: 1px solid #dadada;
}

.table_row_mission_name {
  font-weight: 700;
  font-size: larger;
}

.table_row_mission_description {
  font-weight: 200;
  font-size: 0.8rem;
  padding: 8px;
}

.button_not_member_false {
  color: #fff;
  border-radius: 5px;
  background-color: rgb(111, 110, 110);
  border: none;
  padding: 2px 5px;
  font-size: 0.75rem;
}

.button_not_member_true {
  display: none;
}

.button_active_member_true {
  padding: 2px 5px;
  color: #fff;
  font-size: 0.7rem;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
}

.button_active_member_false {
  display: none;
}

.button_join_mission {
  border: 1px solid rgb(132, 132, 132);
  color: rgb(132, 132, 132);
  background-color: transparent;
  padding: 5px;
  border-radius: 3px;
}

.button_join_mission_true {
  display: none;
}

.button_leave_mission {
  border: 1px solid rgb(248, 14, 14);
  color: rgb(248, 14, 14);
  background-color: transparent;
  padding: 5px;
  border-radius: 3px;
}

.button_leave_mission_false {
  display: none;
}
