.navbar_links {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar_links li a {
  text-decoration: none;
  list-style: none;
}

.navbar_links li a:active {
  text-decoration: underline;
}
